.circle {
  float: left;
  width: 400px;
  height: 400px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  border-radius: 100%;
  border-style: solid;
  border-width: 20px;
  border-color: black;
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
    
.clock {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20em;
  position: relative;
}

.hands{     
    border-radius: 50%;
    position: absolute;
}
#hour-hand{
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, blue 50%);
    height: 300px;
    width: 7px;
    z-index: 2;
    transform : rotate(0deg);
}


#min-hand{
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, green 50%);
    transform : rotate(0deg);
    height: 360px;
    width: 7px;
    z-index: 5;
}
#sec-hand{
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, red 50%);
    transform-origin: rotate(0deg) ;
    height: 400px;
    width: 3px;
}