html{
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(45deg, rgba(211,81,26,1) 0%, rgba(27,70,161,0.981127485173757) 49%, rgba(70,28,9,1) 100%);
}

.main{
    background-color: brown;
    width: 50em;
    height: 28em;   
    margin-left: 7.3em;
}

.photo{
       background: url('./image1.jpg');
       background-repeat: no-repeat;
       background-size: 50em 30em ;   
         /* 50 - 28  */
       width: 50em;
       height: 28em;
       border: 2px solid;
       filter: blur(0px);
    }

 .control-panel{
     margin-right: 4em;
     padding-left: 5em;
     padding-bottom: 2em;
     display: flex;
    justify-content: center;
    align-items:center;
     
 }  
 
 h1{
     text-align: center;
     margin-top: 1em;
     font-size: 5em;
 }
 input{
     margin-right: 3em;
     margin-left: 1em;
 }
 .headJS{
  
 }